<% @browser_tab_title="Edit" %>

<div class="container pt3 pb4">

  <%= form_with(model: document, local: true, id: "content") do |form| %>
    <!-- Document buttons -->
    <div class="document-menu pb2 text--lightest-gray">
      <div class="inline-block-on-mobile">
        <%= link_to documents_path, class: 'link link--lightest-gray p1', title: "Back" do %>
          <i data-feather="arrow-left"></i>
        <% end %>
      </div>
      <div class="inline-block-on-mobile">
        <div class="link link--lightest-gray p1 js-modal-toggle" title="Front Matter"><i data-feather="info"></i></div>
      </div>
      <div class="inline-block-on-mobile">
        <%= link_to "", :onclick => "$('#content').submit()", class: 'link link--lightest-gray p1', title: "Save" do %>
          <i data-feather="save"></i>
        <% end %>
      </div>
    </div>

    <!-- Explain errors -->
    <% if document.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

        <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Editor -->
    <%= form.text_area :content, class: "form-control textarea--md mb3", id: "inscrybmde" %>

  <% end %>

</div>

<!-- Front matter modal -->
<div class="modal-background js-modal">
  <div class="modal full-shadow p2">
    <h3 class="pbs">Document Front Matter</h3>
    <%= form_with(model: @document, local: true) do |form| %>
      <div class="mb1">
        <%= form.label :title, class: "label" %>
        <%= form.text_field :title, class: "form-control", placeholder: "Title..." %>
      </div>
      <div class="mb2">
        <label class="label" for="product_category_id">Category:</label>
        <%= form.collection_select :category_id, Category.all, :id, :name, :prompt => "Select a Category" %>
        <p>or create one:</p>
        <%= form.text_field :new_category_name %>
      </div>
      <div class="clearfix">
        <%= form.submit "Save", class: "btn btn--default float--right" %>
        <a class="btn btn--outline float--right mr1 js-modal-close">Cancel</a>
      </div>
      <!-- Explain errors -->
      <% if document.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

          <ul>
          <% document.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>