<div class="container pt3 pb4">

  <%= form_with(model: document, local: true, id: "content") do |form| %>

    <!-- Document buttons -->
    <div class="document-menu pb2 text--lightest-gray">
      <div class="inline-block-on-mobile">
        <%= link_to root_path, class: 'link link--lightest-gray p1', title: "Back" do %>
          <i data-feather="arrow-left"></i>
        <% end %>
      </div>
      <div class="inline-block-on-mobile">
        <div class="link link--lightest-gray p1 js-modal-toggle" title="Front Matter"><i data-feather="info"></i></div>
      </div>
      <div class="inline-block-on-mobile">
        <%= link_to "", :onclick => "$('#content').submit()", class: 'link link--lightest-gray p1', title: "Save" do %>
          <i data-feather="save"></i>
        <% end %>
      </div>
    </div>

    <!-- Explain errors -->
    <% if document.errors.any? %>
      <div class="snack-bar fixed bottom--0 z5 full-shadow bg--primary-color rounded--top pt1 pb1 pl3 pr3 text--white none js-snack-bar">
        <p class="snack-bar__text align--center pl1 pr1 mb0"><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved: <%= message %></p>
      </div>
    <% end %>

    <!-- Editor -->
    <%= form.text_area :content, class: "form-control textarea--md mb3", id: "inscrybmde" %>

  <% end %>

</div>