.container
    %h1= @document.title
    %p= simple_format(@document.content)

    = link_to "All Documents", documents_path

    = link_to "Edit", edit_document_path(@document), class: "btn btn--outline"
    = link_to "Delete", document_path(@document), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--outline"